<div class="container-fluid">
  <div class="container-fluid">
    <h2>Hi, {{result.firstName}}</h2>
    <img class="img-resize" src="{{result.avatarUrl}}">
  </div>


  <div class="container-fluid d-flex justify-content-center">
    <div class="col-6">
      <a href="/search-project">
        <button class="btn btn-outline-dark btn-block" type="submit">Search Project</button>
      </a>
    </div>

    <div class="col-6">
      <a href="/create-project">
        <button class="btn btn-outline-dark btn-block" type="submit">Create Project</button>
      </a>
    </div>
  </div>

  <div class="container-fluid d-flex justify-content-start">
    <p>These are your projects:</p>
  </div>

  <div class="container-fluid bg">
    {{#if result.projects}}

    {{#each result.projects}}
    <div class="project_dashboard d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <p>{{this.projectName}}</p>
      </div>


      <div class="d-flex justify-content-end">
        <a href="/detail-project?projectid={{this.projectId}}">
          <div>
            <button class="btn btn-outline-dark btn-block" type="submit">Edit</button>
          </div>

        </a>
        <a href="/view-project?projectid={{this.projectId}}">
          <div>
            <button class="btn btn-outline-dark btn-block" type="submit">Status</button>
          </div>

        </a>
      </div>
    </div>

    {{/each}}


    {{else}}
    <p>You don't have projects yet.</p>
    {{/if}}

  </div>
</div>