
<div class="container-fluid">
  <div class="container-fluid">
      <h2>Hi, {{result.firstName}}</h2>
      <img class="img-resize" src="{{result.avatarUrl}}">
  </div>


  <div class="container-fluid d-flex justify-content-center">
    <div class="col-6">
      <a href="/search-project">
        <button class="btn btn-outline-dark btn-block" type="submit">Search Project</button>
      </a>
    </div>

    <div class="col-6">
      <a href="/create-project">
        <button class="btn btn-outline-dark btn-block" type="submit">Create Project</button>
      </a>
    </div>
  </div>

  <div class="container-fluid d-flex justify-content-start">
    <p>These are your projects:</p>
  </div>

  <div class="container-fluid bg">
    {{#if result.projects}}
      
      {{#each result.projects}}
        <div class="project_dashboard">
          <p><a href="/detail-project?projectid={{this.projectId}}">{{this.projectName}}</p>
        </div>
      {{/each}}
        
        <a href="/view-project?projectid={{this.projectId}}">
        <button class="btn btn-outline-dark btn-block" type="submit">View</button>
        </a>

        </div>

        {{/each}}

      {{else}}
      <p>You don't have projects yet.</p>
    {{/if}}
  </div>
</div>
