
<div class="container-fluid">
  <div class=" bg row">
    {{#each result}}
      <h1>Hi, {{this.firstName}}</h1>
      <img class="img-resize" src="{{this.avatarUrl}}">
    {{/each}}

    {{#if result.0.projects}}
      <p>These are your projects:</p>
        {{#each result.0.projects}}
        <p>{{this}}</p>
        {{/each}}
    {{else}}
      <p class="row">Take action! Make a project! :)</p>
    {{/if}}
  </div>


  <div class="container-fluid d-flex justify-content-center">
    <div class="col-4">
      <button class="btn btn-outline-dark btn-block" type="submit">
        <a href="/search-project">Search Project</a>
      </button>
    </div>

    <div class="col-4">
      <button class="btn btn-outline-dark btn-block" type="submit">
        <a href="/create-project?user_id={{this._id}}">Add Project</a>
      </button>
    </div>
  </div>

  <div>

  </div>
</div>