

<div class="container-fluid">

  <div class="container-fluid bg1">
    <div>
      <h2>{{result.projectName}}</h2>
    </div>
    <div>
      <p>Description: {{result.description}}</p>
      <p>Start date: {{result.startDate}}</p>
      <p>End date: {{result.endDate}}</p>
    </div>
    

    <div>
      <div>
        <a href="/add-task?projectid={{result._id}}">
          <button class="btn btn-outline-dark btn-block" type="submit">Add Task</button>
        </a>
      </div>

      <div>
         <a href="/search-people?projectid={{result._id}}">
          <button class="btn btn-outline-dark btn-block" type="submit">Add Contributor</button>
        </a>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid">

  <div class="container-fluid">
    <p>Project tasks:</p>

    <div class="container-fluid bg">
     {{#if result.tasks}}
        {{#each result.tasks}}
          <p><a href="/detail-task?taskid={{this.taskId}}"></a>{{this.taskName}}</p>
        {{/each}}

        {{else}}
          <p>This project doesn't have any tasks yet.</p>
      {{/if}}
  </div>
  </div>

  <div class="container-fluid">
    <p>Project contributors:</p>

    <div class="container-fluid bg">
      {{#each users}}
        <p>{{this.firstName}} {{this.lastName}}</p>
      {{/each}}
    </div>
  </div>

  

{{!-- <div class="container-fluid bg"> --}}
  {{!-- <p>{{owner}}</p>
  <br> --}}
       

{{!-- </div> --}}








  

    




