
<div class="container-fluid">

    <h1>Search Contributors</h1>

 <div class="d-flex container-fluid bg1">
   <div class="col-6">
      <form action="/search-people?projectid={{projectid}}" method="POST">
        <input class="btn-block" type="text" name="search" placeholder="search">
    </div>
    
      <div class="col-4">
        <button type="submit" class="btn btn-outline-dark btn-block">Search</button>
      </div>
      </form>
  </div>

  <div class="container-fluid bg">
    {{#each result}}
      <div class="project_dashboard d-flex justify-content-between">
        <div class="col-8">
          <p>{{this.firstName}} {{this.lastName}}</p>
        </div>
        

        <div class="col-6">
           <form action="/add-people?projectid={{../projectid}}&userid={{this._id}}" method="POST">
            <input  name="newuser" type="hidden">
            <button type="submit" class="col-4 btn btn-outline-dark btn-block">Add</button>
          </form>
        </div>
       

        {{!-- <button id="mandioca" type="submit" class=" col-4 btn btn-outline-dark btn-block">Add</button> --}}
      </div>
      
    {{/each}}
        
  </div>
</div>

  {{!-- <script src="cdnOFAxios..."></script>
  <script src="javascript/addUser.js"></script> --}}