<div class="container-fluid">
  <div class="container-fluid bg1">
    <div>
      <h1>{{result.projectName}}</h1>
    </div>

    <div class="register">
      <p>Description: {{result.description}}</p>
      <p>Start date: {{result.startDate}}</p>
      <p>End date: {{result.endDate}}</p>
    </div>
  </div>


  <p>Project tasks:</p>

  <div class="container-fluid bg">
    <form action="/view-project" method="POST">
      {{#each result.tasks}}

      <div class="project_dashboard">
        <div class="row align-middle d-flex justify-content-around">
          <div>
            <p>Name: {{this.taskName}}</p>
          </div>
          <div>
            <p>Hours: {{this.length}}</p>
          </div>
          <div>
            {{#if this.owner}}


            <input type="checkbox" checked class="checked blocked">
            {{else}}
            <input class="checked messageCheckbox" type="checkbox" name="selectedtask" value={{this._id}}>

            {{/if}}
          </div>
          <div>
            <p>Owner: {{this.owner.firstName}} {{this.owner.lastName}}</p>
          </div>
        </div>

      </div>

      {{/each}}
      <div>
        <button id="addOwner" type="submit" class="submit-task col-4 btn btn-outline-dark btn-block">Submit</button>
      </div>

    </form>
  </div>

</div>